@model IEnumerable<Kiosko.Models.Fotosproyecto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fotoproyecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdproyectosNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/img/@Html.DisplayFor(modelItem => item.Fotoproyecto)" width="40" height="40" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdproyectosNavigation.Idproyectos)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Idfotoproyecto">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Idfotoproyecto">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Idfotoproyecto">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
