@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Kiosko.Models.Proyecto>
@{
}
<main id="main">



    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>Mira todos los proyectos disponibles</h3>
                    <p>los proyecto y la inovacion son lo que mueve al mundo, en la UNIVERSIDAD TECNOLOGICA METROPOLITANA son uno de nuestras prioridades y tambien son lo que mas nos enorguyesen</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href"why-us" >VER</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->
    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Busca cualquier proyecto</h4>
                        <p>busca el nombre del proyecto o escribe el la division para ver todos sus proyectos</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="buscar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">

        @foreach (var item in Model)
        {



        <div class="container-fluid" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                    <div class="content">
                        <h3><strong>@Html.DisplayFor(modelItem => item.Nombreproyecto)</strong></h3>
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="infoDivision" asp-route-id="@item.Iddivisiones">@Html.DisplayFor(modelItem => item.IddivisionesNavigation.Nombredivision)</a>
                        </p>
                    </div>

                    <div class="accordion-list">
                        <ul>
                            <li>
                                <a class="collapse" asp-area="" asp-controller="Home" asp-action="InfoProyecto" asp-route-id="@item.Idproyectos">conoce mas del proyecto <i class="bx bx-chevron-down icon-show"></i><i></i></a>
                                <div id="accordion-list-1">
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Descripcionproyecto)
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" data-aos="fade-right" data-aos-delay="100">
                    <img src="~/img/@Html.DisplayFor(modelItem => item.Fotoproyecto)" class="img-fluid"/>
                    
                </div>
            </div>
            








        </div>




        }



    </section>



















    <section id="cliens1" class="cliens section-bg">
        <div class="container">

            <div class="row" data-aos="zoom-in">

                <div class="col">
                    <h1>NO OLVIDES VISITAR LOS PROYECTOS</h1>
                </div>
            </div>

        </div>

    </section>




</main>